@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.login-button {
  padding: 1rem 2rem;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-button:hover {
  background-color: #179947;
}

 
.music-taste-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: full;
  padding: 2rem;
}

  
  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .rating-display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: bold;
  }
  
  .rating-number {
    color: #f06292;
    margin-right: 0.5rem;
  }
  
  .rating-label {
    color: #999;
  }
  
  .description {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  
  .additional-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  